# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sbb_precipitation
DB_USER=postgres
DB_PASSWORD=postgres

# pgAdmin Configuration
PGADMIN_EMAIL=admin@localhost.local
PGADMIN_PASSWORD=admin

# Postgres Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_MULTIPLE_DATABASES=sbb_precipitation,sbb_precipitation_test

